@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Oleo+Script&family=Poppins:wght@400;500&family=Roboto&display=swap');
*{
     margin: 0;
     padding: 0;
}
body{
     font-family: 'Poppins', sans-serif;
}


/* ------------------------------------
          navber and logo
---------------------------------- ----- */


.container{
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 30px;
     margin-top: 50px;
}
nav{
     display: flex;
     justify-content: space-between;
     height: 80px;
     align-items: center;
}
.navber{
     display: flex;

}
.navber li{
     list-style: none;
     margin: 20px;
}
.navber li a{
     text-decoration: none;
     color: black;
     font-weight: 700;
     padding: 7px;
}
.fa-search{
     cursor: pointer;
     font-size: 18px;
}
.fa-cart-plus{
     cursor: pointer;
     font-size: 25px;
}
.influencer-heading{
     display: grid;
     grid-template-columns: 1fr 1fr;
     
}
.influence-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}
.section-title{
     font-size: 50px;
     font-weight: 700;
     margin-bottom: 20px;
}
.author{
     font-weight: 700;
     color: gray;
}
.influence-right img{
    width: 80%;
    padding-left: 100px;
}
.prebook-btn {
     padding: 10px 22px;
     margin-top: 20px;
     border: 2px solid 	rgb(32, 94, 133);
     font-size: 20px;
     border-radius: 60px;
     background-color: rgb(25, 127, 190) ;
     cursor: pointer;
     transition: 0.5s;
}
.prebook-btn a{
     text-decoration: none;
     color: white;
}
.prebook-btn:hover{
     color: white;
     background-color: black;
}


/* -----------------------------------
          Popular Collection 
--------------------------------------- */

.section-heading{
     display: flex;
     justify-content: center;
     margin-top: 50px;
     margin-bottom: 70px;
}
.popular-collection{
     margin-bottom: 40px;
}
.accessories{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 30px;
     grid-row-gap: 60px;
   
    
     
}
.card{
     width: 330px;
     border-radius: 3px;
     box-shadow: 3px 3px 3px 3px lightgrey; 
     margin-bottom: 10px;
}
.card-banner{
     width: 100%;
     padding: 10px;
     margin: 5px;
}
.card-detail{
     padding: 10px;
     margin: 5px;
}
.card-title{
     margin-bottom:10px ;
     font-size: 30px;
}
.card-price{
     margin-bottom: 8px;
     font-weight: 300;
     font-size: 25px;
}

.card-info{
     margin-bottom: 10px;
     padding-right: 10px;
}
.see-more-btn a{
     font-size: 20px;
     color: skyblue;
     text-decoration: none;
     padding: 10px;
}

/* ------------------------
     see more button 
---------------------- */
.see-more-btn{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
}


.total-information{
     background-color: lightskyblue;
     margin-bottom: 40px;
     box-shadow: 2px 2px 2px 2px gray;
}
.about-us{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.login-title{
     font-size: 50px;
     font-weight: 700;
     padding: 5px 0;
     

}
.login-descrioption{
     font-weight: 500;
     font-family: 'Luxurious Roman', cursive;
     padding: 5px 0;
     
}
.input-email{
     width: 50%;
     padding: 12px 20px;
     margin:  10px 0;
     display: inline-block;
     border-radius: 50px;
     font-size: 18px;
     border: 2px solid darkblue;
     background-color: lightskyblue;
     color: black;
     transition: 0.5;

}
.input-email:hover{
     background-color: white;
     
}
.subscribe-btn{
     
     padding: 12px 15px;
     font-size: 20px;
     font-weight: 700;
     border: 2px solid darkblue ;
     background-color: lightskyblue;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.5s;
}
.subscribe-btn:hover{
     background-color: white;
}
.payment{
     margin-top: 50px;
}
.payment-icon{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 30px;
     align-items: center;
}
.payment-icon img{
     width: 100px;
     height: 100px;
     cursor: pointer;
}






